.grid-cell2 {
  margin: 12px;
  flex: 1 auto !important;
  color: #242729;
}
.grid-cell2 .top-tags {
  margin-top: 17px;
  margin-bottom: 48px !important;
}
.grid-cell2 .top-tags h3 {
  font-weight: 700;
  color: #0c0d0e;
  padding-bottom: 8px !important;
  border-bottom: 1px solid #d6d9dc;
  font-size: 15px;
  margin-bottom: 15px;
}
.grid-cell2 .top-tags .top-tags-sec {
  margin: -4px 0 -4px 0;
  display: flex;
  flex-direction: column;
}
.grid-cell2 .top-tags .top-tags-sec .top-tags-cells {
  margin: 4px;
}
.grid-cell2 .top-tags .top-tags-sec .top-tags-cells .top-cell {
  margin: -4px;
  display: flex;
}
.grid-cell2 .top-tags .top-tags-sec .top-tags-cells .top-cell .tag-cell {
  margin: 4px;
  padding: 8px;
  display: flex;
  flex: 1 auto;
  background-color: #fafafb;
  border-radius: 3px;
  color: #242729;
}
.grid-cell2 .top-tags .top-tags-sec .top-tags-cells .top-cell .score {
  display: flex;
  justify-content: flex-end;
  flex: 1 auto;
}
.grid-cell2 .top-tags .top-tags-sec .top-tags-cells .top-cell .score .score-txt {
  display: flex;
}
.grid-cell2 .top-tags .top-tags-sec .top-tags-cells .top-cell .score .score-txt .score-tab {
  margin: 0 8px 0 8px;
  height: 100%;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #9199a1;
}
.grid-cell2 .top-tags .top-tags-sec .top-tags-cells .top-cell .score .score-txt .score-tab .txt {
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 6px;
}
.grid-cell2 .top-tags .top-tags-sec .top-tags-cells .top-cell .score .score-txt .score-tab .number {
  color: #3c4146;
  font-size: 15px;
}
