.img-card {
  box-sizing: border-box;
  margin: 12px;
  width: 210px;
  overflow: hidden;
}
.img-card .avatar-card {
  box-shadow: inset 0 10em 0 #FFFFFF !important;
  text-align: center;
  padding: 12px !important;
  margin-bottom: 16px;
  border: 1px solid #4a4e51 !important;
  border-radius: 3px;
  background-color: #FFFFFF;
}
.img-card .avatar-card .avatar {
  width: 164px;
  height: 164px;
  overflow: hidden !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  color: #242729;
}
.img-card .avatar-card .avatar .avatar-link .logo-wrapper {
  border-radius: 3px;
  width: 164px;
  height: 164px;
}
.img-card .avatar-card .avatar .avatar-link .logo-wrapper img {
  width: 164px;
  height: 164px;
  border-radius: 3px;
}
.img-card .avatar-card .title {
  font-weight: 400;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.img-card .avatar-card .title .grid {
  color: #0c0d0e;
  font-size: 21px;
  display: flex;
  margin: -4px;
  justify-content: center !important;
  align-items: center !important;
}
.img-card .avatar-card .title .grid span {
  color: #6a737c;
  font-size: 11px;
}
