.user-panel-info {
  padding: 6px 7px 8px 8px;
  border: 1px solid #4a4e5154;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #6a737c;
  display: flex;
  align-items: center;
}
.user-panel-info:hover {
  border-color: #697075;
}
.user-panel-info .user-gravatar {
  float: left;
  width: 48px;
  height: 48px;
}
.user-panel-info .user-gravatar a {
  color: #07c;
  text-decoration: none;
}
.user-panel-info .user-gravatar a:hover {
  color: #0095ff;
  text-decoration: none;
}
.user-panel-info .user-gravatar a .logo-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 2px;
  overflow: hidden;
  padding: 0;
}
.user-panel-info .user-gravatar a .logo-wrapper img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
.user-panel-info .user-details {
  margin-left: 9px;
  width: calc(100% - 64px);
  line-height: 1.3;
  float: left;
}
.user-panel-info .user-details a {
  color: #07c;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.user-panel-info .user-details a:hover {
  color: #0095ff;
  text-decoration: none;
}
.user-panel-info .user-details .item {
  margin-right: 2px;
  display: block;
}
.user-panel-info .user-details .user-time {
  display: flex;
  justify-content: space-between;
}
.user-panel-info .user-details .count {
  font-size: 11px;
  font-weight: 700;
}
.user-panel-info .user-details .count-info {
  font-size: 10px;
  font-weight: 500;
}
