.answer {
  width: auto;
  float: none;
  padding-top: 10px;
  clear: both;
  color: #242729;
}
.answer .answer-header {
  width: 100%;
  margin-top: 10px;
  color: #242729;
}
.answer .answer-header .answer-sub-header {
  margin-bottom: 8px !important;
  display: flex;
  align-items: center;
}
.answer .answer-header .answer-sub-header .answer-headline {
  flex: 1 auto !important;
}
.answer .answer-header .answer-sub-header .answer-headline h2 {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 18px;
}
.answer .answers {
  border-bottom: 1px solid #4a4e51;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
  color: #242729;
}
